[submodule "experience/gyroscopicView/serial"]
	path = experience/gyroscopicView/serial
	url = https://github.com/wjwwood/serial.git
[submodule "experience/cmake"]
	path = experience/cmake
	url = git@gitlab.42pillistreet.com:marvin/teensy_cmake.git
